:root {
    --config-fonts: 'Noto Sans HK', 'Noto Sans TC', sans-serif;
}

.config {
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    backdrop-filter: blur(6px);
    overflow: hidden;
}

.notice-box {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    line-height: 1.4;
}

.notice-box.notice {
    background-color: rgba(100, 150, 255, 0.25);
    border-left: 0.35rem solid rgb(100, 150, 255);
}

.notice-box.live {
    background-color: rgba(253, 171, 77, 0.25);
    border-left: 0.35rem solid rgb(253, 171, 77);
}

.title-div {
    display: flex;
    justify-content: space-between;
    font-size: 3.25rem;
    margin: 1rem 0.5rem;
}

.notice-box h1 {
    font-weight: 600;
}

.notice-box p {
    font-size: 0.95rem;
}

.notice-paxload {
    visibility: hidden;
}

.config-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1rem 0 1rem;
    background-color: #f0f2f6;
    color: black;
    font-family: var(--config-fonts);
    line-height: 1.25;
    overflow: auto;
}

.config-box {
    animation: t0 0.45s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes t0 {
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

section > h1 {
    margin: 0.25rem 0;
}

.config-box button {
    margin: 0.25rem 0;
}

select, button {
    font-size: 1rem;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid #aaa;
    cursor: pointer;
}

table tr td {
    padding: 0.25rem;
}

.config select {
    background-color: #eaeaea;
    padding: 5px 10px 5px 10px;
}

.config button {
    background-color: white;
    padding: 5px 15px 5px 15px;
    transition: background-color 0.1s;
}

.config button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#langchoose {
    display: inline-block;
}

#error {
    background-color: #C61700;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.secHeader {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0.75rem;
}

@media only screen and (max-width: 600px) {
    .config-box {
        left: 0;
    }
}