:root {
    --config-fonts: 'sans-serif', 'Noto Sans HK', 'Noto Sans TC'
}

.config {
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    color: white;
    backdrop-filter: blur(6px);
    font-family: var(--config-fonts) !important;
}

.config * {
    margin: 5px;
}

.notice-box {
    padding: 0.4rem;
    border-radius: 0.25rem;
}

.notice-box.notice {
    background-color: rgba(100, 150, 255, 0.25);
    border-left: 0.35rem solid rgb(100, 150, 255);
}

.notice-box.live {
    background-color: rgba(253, 171, 77, 0.25);
    border-left: 0.35rem solid rgb(253, 171, 77);
}

.title-div {
    display: flex;
    justify-content: space-between;
    font-size: 3.25rem;
    margin: 1rem 0.5rem;
}

.notice-box h1 {
    font-weight: 600;
}

.notice-box p {
    font-size: 0.95rem;
}

.notice-paxload {
    visibility: hidden;
}

.configBox {
    margin: 0;
    padding: 0 10px 0 10px;
    position: relative;
    float: right;
    height: 100%;
    background-color: #f0f2f6;
    color: black;
    overflow-y: auto;
    
    font-size: 18px;
}

select, button {
    font-size: 1rem;
    border-radius: 5px;
    font-family: inherit;
    border: 1px solid #aaa;
    cursor: pointer;
}

.config select {
    background-color: #eaeaea;
    padding: 5px 10px 5px 10px;
}

.config button {
    background-color: white;
    padding: 5px 15px 5px 15px;
    transition: background-color 0.1s;
}

.config button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#langchoose {
    display: inline-block;
}

#error {
    background-color: #C61700;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.secHeader {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0.75rem;
}

.footer {
    position: fixed;
    right: 1em;
    bottom: 1em;
}