:root {
    --title-weight: 600;
    --title-height: 13.7vh;
    --title-family: 'Myriad Pro', 'Noto Sans', 'Noto Serif HK';
}

#header-bar {
    position: relative;
    padding: 0 var(--px-100);
    height: var(--title-height);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mtr-blue);
    font-size: calc(calc(1vh + 1vw) * 3.35);
    font-family: var(--title-family);
    font-weight: var(--title-weight);
    color: white;
}

#header-bar.route-color {
    background-color: var(--route-color);
}

#configure-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#configure-button:focus-visible {
    color: white;
}

.weather {
    display: flex;
    align-items: center;
    gap: var(--px-50);
}

#weather-icon {
    display: flex;
    gap: var(--px-50);
}

#weather-icon img {
    width: calc((1vw + 1vh) * 4.5);
    max-width: calc(var(--title-height) - 20px);
    max-height: calc(var(--title-height) - 20px);
}