@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200..900&display=swap');
:root {
    --font-arrivals: "Myriad Pro", "Noto Sans", "Noto Serif HK";
    --font-platformcircle: "Myriad Pro", "Noto Sans";
    --font-size: 12vmin;
    --route-color: transparent;
    --font-weight: 600;
    --title-height: 13.7vh;
    --platcircle-family: 'Myriad Pro', 'Noto Sans', 'Noto Serif HK';
    --title-family: 'Myriad Pro', 'Noto Sans', 'Noto Serif HK';
    --dest-family: 'Myriad Pro', 'Noto Sans', 'Noto Serif HK';
    --eta-family: "Myriad Pro", "Noto Sans", "Noto Serif HK";
    --eta-width: 260px;
    --aqua: #c8ebfa;
}

.main {
    font-family: var(--font-arrivals);
}

#titlebar {
    display: flex;
    justify-content: space-between;
    height: var(--title-height);
    background-color: #002b54;
    align-items: center;
    color: white;
    font-family: var(--title-family);
    font-weight: 600;
    padding: 0 5.208%;
    font-size: 9.25vh;
}

.weathers {
    display: inline;
}

.weatherIcon img {
    vertical-align: middle;
    width: calc((1vw + 1vh) * 4.5);
    max-width: calc(var(--title-height) - 20px);
    max-height: calc(var(--title-height) - 20px);
    margin-right: 32px;
}

#arrivalOverlay {
    position: absolute;
    table-layout: fixed;
    margin: auto;
    height: calc(100vh - var(--title-height));
    top: var(--title-height);
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100vw - 5.208% - 5.208%);
    background: transparent;
}

#arrivalOverlay tr td {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#arrivalBackground {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--title-height));
}

#arrivalBackground tr:nth-child(even) {
    background-color: var(--aqua);
}

.floatright {
    float: right;
}

.widthCheck {
    position: absolute;
    visibility: hidden;
    overflow: visible;
    white-space: nowrap;
}

.lrtrt {
    display: inline-block;
    width: 11vw;
    min-width: 120px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    font-family: "Myriad Pro Semibold", "Noto Sans";
    font-size: 6vh;
    color: black;
    overflow: visible;
    border-radius: 50vh;
    border: 2.2vh solid orange;
    outline: 1.2vh solid black;
    margin: 0 3vw 0 1vw;
}

.destination {
    font-size: var(--font-size);
    font-family: var(--dest-family);
    font-weight: var(--font-weight);
    white-space: nowrap;
    overflow: hidden;
}

.plat {
    width: 10%;
    font-family: var(--platcircle-family);
}

.platcircle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    font-size: 10vmin;
    color: #fff;
}

.rtcolor {
    background-color: var(--route-color) !important;
}

#promo {
    position: absolute;
    z-index: 2;
    top: var(--title-height);
    left: 0;
    right: 0;
    height: calc(100vh - var(--title-height) - ((100vh - var(--title-height)) / 4));
    background-color: #000000;
}

#promo.promo-full {
    height: calc(100vh - var(--title-height));
}

#promo iframe {
    width: 100%;
    height: 100%;
}

.eta {
    font-family: var(--eta-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    width: var(--eta-width);
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.etamin {
    font-size: 65%;
}
