@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400&family=Noto+Sans:wght@400;600&family=Noto+Serif+TC:wght@600;900&display=swap');
:root {
    --font-arrivals: "Myriad Pro Semibold", "Myriad Pro", "Noto Sans", "Noto Serif TC";
    --font-platformcircle: "Myriad Pro", "Noto Sans";
    --font-size: 12vmin;
    --route-color: transparent;
    --font-weight: 600;
    --title-height: 14vh;
    --platcircle-family: 'Myriad Pro', 'Noto Sans', 'Noto Serif TC';
    --title-family: 'Myriad Pro', 'Noto Sans', 'Noto Serif TC';
    --dest-family: 'Myriad Pro', 'Noto Sans', 'Noto Serif TC';
    --eta-family: "Myriad Pro", "Noto Sans", "Noto Serif TC";
    --eta-width: 260px;
    --aqua: #A8D9F2;
}

input[type=text] {
    font-family: 'Segoe UI', "Noto Sans HK", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background-color: white;
    padding: 4px 8px 5px 8px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

input[type=text]:focus {
    padding: 4px 8px 3px 8px;
    border-bottom: 2px solid #005FB8;
    outline-width: 0;
}

select {
    border: 0;
    background-color: #e4e4e4;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Roboto', 'Noto Sans HK', 'Segoe UI', 'Arial', sans-serif;
}

button {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    font-family: 'Segoe UI', "Noto Sans HK", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 3px 15px 3px 15px;
    transition: .1s
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.main {
    font-family: var(--font-arrivals);
}

.title {
    display: inline-block;
    padding: 1vh 1vh 1vh 1vh;
    text-align: center;
    font-family: 'Segoe UI', "Noto Sans", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

#titlebar {
    height: var(--title-height);
    background-color: #153156;
    width: 100%;
    color: white;
    font-family: var(--title-family);
    font-size: calc((1vw + 1vh) * 3.4);
    line-height: 13vh;
}

#titleOverlay {
    width: 95%;
    margin: auto;
}

.weatherIcon img {
    vertical-align: middle;
    padding-left: 0.5%;
    padding-right: 0.5%;
    width: calc((1vw + 1vh) * 4.5);
    max-width: var(--title-height);
    max-height: var(--title-height);
}

.weather {
    vertical-align: top;
}

#arrivalOverlay {
    position: absolute;
    table-layout: fixed;
    margin: auto;
    height: calc(100vh - var(--title-height));
    top: var(--title-height);
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
}

#arrivalOverlay tr td {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#arrivalBackground {
    position: absolute;
    width: 100%;
    height: calc(100vh - var(--title-height));
}

#arrivalBackground tr:nth-child(even) {
    background-color: var(--aqua);
}

#langchoose {
    display: inline-block;
}

.floatright {
    float: right;
}

.widthCheck {
    position: absolute;
    visibility: hidden;
    overflow: visible;
    white-space: nowrap;
}

.config {
    position: absolute;
    z-index: 200;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    color: white;
    backdrop-filter: blur(6px);
}

.config * {
    margin: 5px 5px 5px 5px
}

.configBox {
    margin: 0;
    padding: 0px 10px 0px 10px;
    position: relative;
    float: right;
    height: 100%;
    background-color: #f0f2f6;
    color: black;
    overflow-y: scroll;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lrtrt {
    display: inline-block;
    width: 11vw;
    min-width: 120px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    font-family: "Myriad Pro Semibold", "Noto Sans";
    font-size: 6vh;
    color: black;
    overflow: visible;
    border-radius: 50vh;
    border: 2.2vh solid orange;
    outline: 1.2vh solid black;
    margin: 0 3vw 0 1vw;
}

.destination {
    font-size: var(--font-size);
    font-family: var(--dest-family);
    font-weight: var(--font-weight);
    white-space: nowrap;
    overflow: hidden;
}

.plat {
    width: 10%;
    font-family: var(--platcircle-family);
}

.platcircle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    font-size: 10vmin;
    color: #fff;
    background-color: var(--route-color);
}

#advertisement {
    position: absolute;
    z-index: 2;
    top: var(--title-height);
    left: 0;
    right: 0;
    height: calc(100vh - var(--title-height) - ((100vh - var(--title-height)) / 4));
    background-color: #000000;
}

#advertisement iframe {
    width: 100%;
    height: 100%;
}

#error {
    background-color: #C61700;
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

.eta {
    font-family: var(--eta-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    width: var(--eta-width);
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
}

.etamin {
    font-size: 65%;
}

.secHeader {
    font-family: 'Segoe UI Semibold', 'Noto Sans', 'Arial';
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
}

.footer {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.centeredItem {
    text-align: center;
    margin: auto;
}